name: Vowel Frequency Analyzer CI

on:
  push:
    branches:
      - main

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t vowel-frequency-analyzer .

      - name: Run Docker Container
        run: docker run vowel-frequency-analyzer
