name: Collaborative Workflow

on:
  push:
    branches:
      - main

jobs:
  update-html-and-readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3